.link-input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.link-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    transition: border-color 0.3s;
}

.link-input:focus {
    border-color: #007bff;
}

.link-input-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}


.link-input-button.dark {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.link-input-button:hover {
    background-color: #0056b3;
}

.link-input-button.dark:hover {
    background-color: #0056b3;
}

.link-input-button:focus {
    outline: none;
}