.navbar{
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: white;

    padding: 15px 7%;
}

.nav-item {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    position: relative;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav-item:hover::after {
    width: 100%;
}

.toggle-icon {
    cursor: pointer;
}

.logo {
    width: 80px;
    cursor: pointer;
}

ul {
    flex: 1;
    list-style: none;
    text-align: right;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.toggle-icon {
    width: 50px;
    cursor: pointer;
    margin-left: 20px;

}

.dark .navbar {
    background-color: #000;
    color: white;
    transition: 0.5s;
}

